<fieldset>
    <!-- USERNAME -->
    <p>
      <label for="username"> Username: </label><br>
      <input id="username" type="text" name="username" value="{{username}}"/>
    </p>
    <!-- PASSWORD -->
    <p>
      <label for="password"> Password: </label><br>
      <input id="password" type="password" name="password" value="{{password}}" />
    </p>
</fieldset>  