<fieldset>
    <!-- NAME -->
    <p>
      <label for="item-name"> Name </label><br>
      <input id="item-name" type="text" name="name" value="{{item.name}}"/>
    </p>

    <!-- DESC -->
    <p>
      <label for="desc"> Description </label><br>
      <input id="desc" type="text" name="desc" value="{{item.desc}}" />
    </p>

    <!-- STATUS -->
    {{!-- <p>
      <label for="status"> Status </label><br>
      <input id="status" type="boolean" name="status" value="{{item.status}}" />
    </p> --}}
</fieldset>  

{{!-- <p>
  <button type="submit" class="btn btn-light"> Upload Item </button>
  <button class="btn btn-light"><a href="/items"> Cancel</a> </button>
</p> --}}
