<fieldset>
    <!-- NAME -->
    <p>
      <label for="item-name"> Name </label><br>
      <input id="item-name" type="text" name="name" value="{{item.name}}"/>
    </p>

    <!-- DESC -->
    <p>
      <label for="desc"> Description </label><br>
      <input id="desc" type="text" name="desc" value="{{item.desc}}" />
    </p>
</fieldset>  