<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#if currentUser}}
        <a href="/items/new" class="btn btn-light navbar-btn">New Item</a>
      {{/if}}
    </div>
      {{#if currentUser}}
        <a class="navbar-brand text-center" style="color:white" href="/items"> Lost &amp; Found </a>
        <ul class="nav navbar-nav navbar-right">
        <li>
          <button type="button" class="btn btn-light">
            <a href="/logout"> Log Out </a>
          </button>
        </li>
        {{else}}
        <div class="text-align:center">
          <a class="navbar-brand" href="/" style="color:white"> Lost &amp; Found </a>
        </div>
      {{/if}}
    </ul>
  </div>
</nav>