<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#if currentUser}}
        <a href="/items/new" class="btn btn-primary navbar-btn">New Item</a>
      {{/if}}
    </div>
    <a class="navbar-brand text-center" href="/"> Lost &amp; Found </a>
    <ul class="nav navbar-nav navbar-right">
      {{#if currentUser}}
        <li>
          <button type="button" class="btn btn-light">
            <a href="/logout"> Log Out </a>
          </button>
        </li>
        {{else}}
        <li>
          <button type="button" class="btn btn-light">
            <a href="/login"> Log In </a>
          </button>
          <button type="button" class="btn btn-light">
            <a href="/sign-up"> Sign Up </a>
          </button>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>