{{!-- this is for the future  --}}
{{!-- <div id='nickWrap'>
  <p>Enter a username: </p>
  <p id="nickError"></p>
  <form id='setNick'>
    <input size="35" id='nickname'></input>
    <input type='submit'></input>
  </form>
</div> --}}

{{!-- <div id="contentWrap" style="display:none"></div> --}}

{{!-- this is for the future --}}
{{!-- <div class="row">
  {{#each items}}
    <div class="col-md-4">
      <h2><a href="/items/{{this._id}}">{{this.name}}</a></h2>
      <p>
        <small>{{this.desc}}</small>
      </p>
    </div>
  {{/each}}
</div> --}}