<div class="row">
  <div class="col s12">
    <h4>Photo Gallery</h4>
    {{#if photolist.length}}
      <div class="row">
        {{each }}

         <div class="row">
         each pic, index in photolist
          |<div class ="col s3"><img src = #{pic['path']} alt="image" class="responsive-img" /><p class="center-align caption">#{pic['caption']}</p></div> 
          if (((index+1) % 4) == 0 )
           | </div><div class="row">
      </div>
    {{else}}
      <div class="row">
        <div class="col s12">
          <p> No photos uploaded yet</p>
        </div>
      </div>
    {{/if}}

  </div>
</div>
        