<form method="POST" action="/items/{{item._id}}?_method=PUT">
  {{> items-form}}

  <!-- BUTTON -->
  <button type="submit" class="btn btn-light">Save Item</button>

  <button class="btn btn-light">
    <a href="/items/{{item._id}}">Cancel</a>
  </button>
</form>