<form method="POST" action="/items/new">
  {{> items-form}}

  <p>
    <button type="submit" class="btn btn-light">Upload Item</button>
  </p>
  <p>
    <button class="btn btn-light">
      <a href="/">Cancel</a>
    </button>
  </p>

</form>