<div style="text-align: center">
  <h1> Add Item: </h1>
  <form id='uploadForm' method="POST" action="/items/new" ref='uploadForm' encType="multipart/form-data">
    <fieldset>
      <!-- NAME -->
      <p>
        <label for="item-name"> What was lost/found? </label><br>
        <input id="item-name" type="text" name="name" value="{{item.name}}"/>
      </p>

      <!-- DESC -->
      <p>
        <label for="desc"> Give a detailed description of what was lost/found: </label><br>
        <input id="desc" type="text" name="desc" value="{{item.desc}}" />
      </p>

      <!-- STATUS -->
      {{!-- <p>
        <label for="status"> Status </label><br>
        <input id="status" type="boolean" name="status" value="{{item.status}}" />
      </p> --}}
    </fieldset>  
  </form>
  {{!-- <form id='uploadForm' method="POST" action="/items/new" ref='uploadForm' encType="multipart/form-data">

    <input type="file" name="sampleFile" />
    <input type='submit' value='Upload!' />

  </form> --}}
  <p>
    <button type="submit" class="btn btn-light"> Upload Item </button>
    <button class="btn btn-light"><a href="/items"> Cancel</a> </button>
  </p>
</div>